.registration-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.registration-container {
  background-color: #ffffff;
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registration-container h3 {
  text-align: center;
  color: #333333;
}

.login-link p > a {
  text-decoration: none;
}